# Movie Reccomendations

helpful video: https://www.youtube.com/watch?v=umSM8rFtVMs

In [2]:
# Importing libraries
import pandas as pd
import numpy as np
import math
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [3]:
# Importing data
df_users = pd.read_csv("users.csv")
df_movies = pd.read_csv('movies.csv', encoding='latin-1') # Had to use special encoding for this to fix an error
df_ratings = pd.read_csv("ratings.csv")

In [4]:
df_users.head()

   user_id gender  age  occupation  zipcode  age_desc              occ_desc
0        1      F    1          10    48067  Under 18          K-12 student
1        2      M   56          16    70072       56+         self-employed
2        3      M   25          15    55117     25-34             scientist
3        4      M   45           7     2460     45-49  executive/managerial
4        5      M   25          20    55455     25-34                writer

In [5]:
df_ratings.head()

   user_id  movie_id  rating
0        1         1       3
1        1         3       5
2        1         4       4
3        1         5       3
4        1         6       3

In [6]:
df_movies.head()

   movie_id                               title                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

In [7]:
# Copy list of genres that aren't NaN
df_genres = df_movies['genres'].dropna()

In [8]:
# Find set of all genres
movie_genres = []

for g in df_genres:
    g_list = g.split('|')
    for i in g_list:
        movie_genres.append(i)

movie_genres = set(movie_genres)

In [9]:
# Display our genres
print(movie_genres)

{'War', 'Action', 'Comedy', 'Thriller', 'Romance', 'Musical', 'Documentary', 'Adventure', 'Drama', 'Sci-Fi', 'Horror', 'Crime', 'Animation', "Children's", 'Fantasy'}

In [12]:
# Vectorize relationship between movies and genres
count_matrix = CountVectorizer ().fit_transform(df_genres['genres'])

KeyError: 'genres'